auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: memberlist

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: loki_index_
        period: 24h

# обязательный блок для memberlist (одиночный инстанс — без join_members)
memberlist:
  abort_if_cluster_join_fails: false
  bind_port: 7946
  join_members: []

limits_config:
  retention_period: 3d
  ingestion_rate_mb: 8
  ingestion_burst_size_mb: 16
  max_query_series: 500000

compactor:
  working_directory: /loki/compactor
  compaction_interval: 10m        # как часто будет прогоняться компактор
  retention_enabled: true         # включаем удаление по retention_period
  delete_request_store: filesystem

ruler:
  alertmanager_url: ""


